.container {
  width: 100%;
  height: 100vh;
  background-color: #202020;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

  .puesto {
    font-size: 6vh;
    color: whitesmoke;
  }

  .anpersand {
    font-size: 9vh;
    background: linear-gradient(to top, #811f1f, #cf2f2f, #811f1f);
    -webkit-background-clip: text;
    color: transparent;
  /* .hr{
    position: absolute;
    bottom: -1.5vh;
    width: 80%;
    z-index: 3;
    height: 0.3vh;
    border: none;
    background-color: #811f1f;
  } */
}
.main {
  width: 100%;
  height: 100vh;
  /* background-color: brown; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.column1 {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: end;
  order: 1;
  z-index: 0;
  background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1698707247/Portfolio/NahueParque_kitgwp.jpg");
  background-size: cover;
  background-position: end;

  .foto {
    position: relative;
    height: 120vh;
    /* transform: scaleX(-1); */
    top: -13%;
    left: -40%;
  }
  .persona {
    position: absolute;
    height: 122vh;
    top: -10vh;
    filter: grayscale(95%) drop-shadow(2px 2px 4px black);
    /* transform: scaleX(-1); */
    z-index: 1;
  }
  .persona:hover {
    filter: grayscale(5%) drop-shadow(2px 2px 4px black);
  }
  
}
.column1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-75deg, #20202000, #20202075, #202020, #202020);
  /* background-image: linear-gradient(to right, #202020 15%, #20202010); */
}
.column2 {
  padding-top: 1rem;
  /* overflow: hidden; */
  position: relative;
  background: linear-gradient(
    45deg,
    #20202030,
    #20202050,
    #202020,
    #202020,
    #202020
    );
    background-color: #811f1f;
  .nombre {
    position: absolute;
    top: -20vh;
    left: 28vh;
    font-size: 18vh;
    background: linear-gradient(to top, #811f1f, #cf2f2f, #811f1f, #811f1f);
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
    /* filter: drop-shadow(3px 3px 3px black); */
  }
  .apellido {
    position: absolute;
    top: -20vh;
    left: 100vh;
    font-size: 18VH;
    z-index: 2;
    /* color: transparent;
    -webkit-text-stroke: 0.2vh whitesmoke;
    text-transform: uppercase; */
    filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
    background: linear-gradient(to top, #303030, #303030, #202020, #101010);
    -webkit-background-clip: text;
    color: transparent;
    /* filter: drop-shadow(3px 3px 3px black); */
  }
  .hr {
    position: absolute;
    filter: drop-shadow(0.3vh 0.3vh 0.3vh black);
    top: 20vh;
    left: 31vh;
    height: 0.3vh;
    width: 65vw;
    z-index: 3;
    border: none;
    /* background: linear-gradient(to top, #303030, #303030, #202020, #101010); */
    /* background: linear-gradient(to top, #202020, #811f1f, #cf2f2f, #811f1f, #202020); */
    background-color: #505050;
  }
  .fs, .ds{
    font-size: 13vh;
    text-transform: uppercase;
  }
  .fs{
    position: absolute;
    z-index: 1;
    left: 30vh;
    top: 10vh;
  }
  .dev {
    bottom: 0.5;
   position: absolute;
    font-size: 10vh;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.5px white;
    text-transform: lowercase;
  }
  .ds{
    white-space:  nowrap;
  }
  .jr{
    bottom: 0;
  }
}
.article {
  width: 70%;
  height: 35%;
  text-align: justify;
  font-size: 2.5vh;
  color: whitesmoke;
  margin-right: 8.4vh;
}
.skills {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  transform: translateY(-1.5vh);
}

.skill {
  padding-top: 1vh;
  align-self: center;
  justify-self: center;
  width: 10vh;
  height: 10vh;
  filter: grayscale(100%) drop-shadow(1px 1px 1px black);
}
.skill:hover {
  filter: grayscale(0%) drop-shadow(1px 1px 1px black);
}
