.container {
  width: 100%;
  height: 100svh;
  /* background-color: powderblue; */
  position: relative;
  overflow: hidden;
}

.nahue {
  position: absolute;
  height: 99svh;
  width: 50%;
  top: 0;
  right: 0;
  display: flex;
  align-items: start;
  justify-content: end;
  z-index: 21;
  background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1698707247/Portfolio/NahueParque_kitgwp.jpg");
  background-size: 155vh;
  background-position: top;
  border-image: fill;
  z-index: 1;
}
.nahue::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-75deg, #20202000, #20202075, #202020, #202020);
}
.persona {
  position: absolute;
  height: 99svh;
  top: 0;
  right: 0;
  filter: grayscale(95%) drop-shadow(-1svw 0svw 1svw black);
  z-index: 2;
  transition: transform ease-in-out 2s, filter ease-in-out 2s;
}
.persona:hover {
  transform: scale(1.03);
  filter: grayscale(5%) drop-shadow(-1.5svw 0svw 2svw black);
  transition: transform ease-in-out 2s, filter ease-in-out 2s;
}
/* .degrade{
  position:absolute;
  width: 40svw;
  height: 10svh;
  z-index: 2;
  background: linear-gradient(to bottom, transparent,#20202050, #202020a2, #202020dc, #202020, #202020);
} */
.header {
  position: relative;
  width: 80%;
  height: 15svh;
  top: 4svh;
  left: 15svw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  z-index: 3;
}

.nombre {
  margin: 0;
  height: 13svh;
  display: flex;
  align-items: center;
  width: fit-content;
  /* top: -14vh; */
  /* left: 25vh; */
  font-size: 15svh;
  -webkit-box-reflect: below -2svh linear-gradient(to bottom, transparent, transparent, transparent, rgba(0, 0, 0, 0.1), transparent);
  background: linear-gradient(
    to bottom,
    #69fcd5,
    #51bda0,
    #429a82,
    #429a82,
    #2d6959,
    #2d6959,
    #2d6959
  );
  -webkit-background-clip: text;
  color: transparent;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
  text-transform: uppercase;
}
.apellido {
  position: relative;
  margin: 0;
  height: 13svh;
  display: flex;
  align-items: center;
  width: fit-content;
  -webkit-box-reflect: below -2svh linear-gradient(to bottom, transparent, transparent, transparent, rgba(0, 0, 0, 0.1), transparent);
  /* top: -14vh; */
  /* left: 85vh; */
  font-size: 15svh;
  z-index: 2;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
  background: linear-gradient(to top, #5e5e5e, #696969, #afaeae, #d4d4d4);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .container {
    position: relative;
    right: 0svw;
    width: 105%;
    margin: 0;
    background-color: red;
    /* overflow: hidden; */
  }
  .header {
    left: 4svw;
    top: 12svh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .nahue {
    display: none;
  }
  .persona {
    margin: 0;
    right: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .container {
    width: 100%;
    background-color: aqua;
    /* overflow: hidden; */
  }
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
