.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.botonIzq,
.botonDer {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  color: #909090;
  font-size: 5vh;
  cursor: pointer;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh #101010);
}
.botonIzq:hover,
.botonDer:hover {
  filter: brightness(75%);
  transform: scale(1.2);
  transition: ease-in-out 0.3s;
}

.botonDer {
  right: 1vh;
}
.botonIzq {
  left: 1vh;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
