.container,
.containerDesplegado {
  width: 100%;
  height: 2rem;
  background-color: #202020;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  align-items: center;
  justify-items: center;
}

.links {
  cursor: pointer;
}
.links:hover {
  color: #505050;
  transition: ease-in-out 0.5s;
  transform: scale(1.2);
}
.desplegar {
  display: none;
  background: none;
  border: none;
  color: #cacaca;
}

.logo {
  display: none;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .container {
    width: 25%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: 1fr;
    filter: drop-shadow(2px 0px 3px black);
    transition: ease-in-out 0.5s;
  }
  .separador {
    display: none;
  }
  .desplegar {
    display: flex;
    position: absolute;
  }
}
@media screen and (max-width: 425px) {
  .container {
    color: #cacaca;
    width: 15%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: 1fr;
    background-color: #202020;
    transition: ease-in-out 0.5s;
  }
  .containerDesplegado {
    width: 50%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: 1fr;
    filter: drop-shadow(2px 0px 3px black);
    transition: ease-in-out 0.5s;
  }
  .separador {
    display: none;
  }
  .desplegar {
    display: flex;
    top: 1rem;
    right: 1rem;
  }
  .desplegado {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .logo {
    display: flex;
    position: absolute;
    width: 30%;
    bottom: 1rem;
  }
}
