.container {
  top: 0;
  width: 5%;
  height: 100vh;
  position: fixed;
  display: grid;
  grid-template-rows: 13vh 87vh;
  grid-template-columns: 1fr;
  background-color: #202020;
  justify-items: center;
  filter: drop-shadow(0px 1px 5px rgba(255, 255, 255, 0.247));
  z-index: 1;
}

.logo {
  position: relative;
  height: 8vh;
  align-self: start;
  justify-self: center;
  margin-top: 1rem;
}

.links {
  display: grid;
  padding-top: 5vh;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  row-gap: 5vh;
  order: 0;
  justify-self: center;
  align-self: flex-start;
  color: #cacaca;
}
.link {
  cursor: pointer;
  height: 1vh;
}
.link:hover {
  transition: ease-in-out 0.5s;
  transform: scale(1.1);
}
.linksDesp{
  display: none;
}

/* @media screen and (min-width: 426px) and (max-width: 767px) {
  .container {
    position: fixed;
    width: 25%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    filter: drop-shadow(2px 0px 3px black);
    transition: ease-in-out 0.5s;
    top: 0rem;
    left: 0rem;
  }
  .links {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 1rem;
    order: 0;
    justify-self: center;
    align-self: start;
    margin-top: 2rem;
  }
  .logo {
    order: 1;
    justify-self: center;
    align-self: end;
    margin-left: 0;
    margin-bottom: 2rem;
    height: 5rem;
  }
} */
/* @media screen and (max-width: 425px) {
  .container {
    width: 15%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    background-color: #202020;
    transition: ease-in-out 0.5s;
    justify-items: center;
  } */
  
  /* .links{
    display: none;
  } */

  /* .linksDesp {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 3.6rem;
    order: 0;
    justify-self: center;
    align-self: start;
    margin-top: 3.2rem;
    color: #cacaca;
  } */

  /* .logo {
    order: 1;
    margin-left: 0;
    justify-self: center;
    align-self: end;
    margin-bottom: 2rem;
  } */

/* } */
