.container {
  top: 0;
  width: 5svw;
  height: 100vh;
  position: fixed;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 1fr;
  background-color: #202020;
  filter: drop-shadow(0px 1px 5px rgba(255, 255, 255, 0.247));
  z-index: 10;
  overflow: hidden;
}

.header {
  position: relative;
  width: 5svw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: span 2;
  .logo {
    position: relative;
    height: 13svh;
    opacity: 40%;
  }
}
.separador {
  position: absolute;
  bottom: 2.1svh;
  height: 0.2svh;
  width: 3.5svw;
  background-color: #429a82;
}

.mainList {
  position: relative;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  width: 5svw;
  flex-direction: column;
  grid-row: span 5;
  overflow: hidden;
  place-items: center;
}
.link {
  color: #909090;
  cursor: pointer;
  height: 1vh;
  text-decoration: none;
}
.navLink, .link:focus {
  color: #429a82;
}
.navLink, .link:active {
  color: #429a82;
}

.navLink, .link:hover {
  transition: ease-in-out 0.5s;
  color: #429a82;
  filter: brightness(95%);
  opacity: 50%;
}

.footerList {
  /* padding-top: 9.5svh; */
  position: relative;
  width: 5svw;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  place-items: center;
  grid-row: span 2;
}
.navLink {
  font-size: 3.5svh;
  color: #909090;
  text-decoration: none;
}

/* @media screen and (min-width: 426px) and (max-width: 767px) {
  .container {
    position: fixed;
    width: 25%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    filter: drop-shadow(2px 0px 3px black);
    transition: ease-in-out 0.5s;
    top: 0rem;
    left: 0rem;
  }
  .links {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 1rem;
    order: 0;
    justify-self: center;
    align-self: start;
    margin-top: 2rem;
  }
  .logo {
    order: 1;
    justify-self: center;
    align-self: end;
    margin-left: 0;
    margin-bottom: 2rem;
    height: 5rem;
  }
} */
/* @media screen and (max-width: 425px) {
  .container {
    width: 15%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    background-color: #202020;
    transition: ease-in-out 0.5s;
    justify-items: center;
  } */

/* .links{
    display: none;
  } */

/* .linksDesp {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 3.6rem;
    order: 0;
    justify-self: center;
    align-self: start;
    margin-top: 3.2rem;
    color: #cacaca;
  } */

/* .logo {
    order: 1;
    margin-left: 0;
    justify-self: center;
    align-self: end;
    margin-bottom: 2rem;
  } */

/* } */
