.container {
  top: 0;
  width: 5svw;
  height: 100vh;
  position: fixed;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: 1fr;
  background-color: #202020;
  filter: drop-shadow(0px 1px 5px rgba(255, 255, 255, 0.247));
  z-index: 10;
  overflow: hidden;
}

.header {
  position: relative;
  width: 5svw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  grid-row: span 3;
  /* padding-top: 5svh; */
  /* .logo {
    position: relative;
    height: 12svh;
    opacity: 40%;
  }
  .logotiopo{
    position: relative;
    overflow: hidden;
  } */
  .N, .S{
    position: absolute;
  }
  .N{
    display: flex;
    font-size: 13svh;
    bottom: -9svh;
    left: 0;
    /* background-color: #429a82; */
    -webkit-box-reflect: below -12vh linear-gradient(to bottom, transparent, transparent, transparent, rgba(0, 0, 0, 0.1), transparent);
    background: linear-gradient(
      to bottom,
      #69fcd5,
      #51bda0,
      #429a82,
      #429a82,
      #2d6959,
      #2d6959,
      #2d6959
    );
    -webkit-background-clip: text;
    color: transparent;
    filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
    -webkit-box-reflect: below -10svh linear-gradient(to bottom,  transparent, transparent, transparent, rgba(0, 0, 0, 0.1), transparent);
  }
  .S{
    position: absolute;
    /* top: -14vh; */
    /* left: 85vh; */
    bottom: -3.5svh;
    right: 0.2svw;
    font-size: 9vh;
    filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
    background: linear-gradient(to top, #5e5e5e, #696969, #afaeae, #d4d4d4);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 1;
    -webkit-box-reflect: below -6svh linear-gradient(to bottom,  transparent, transparent, transparent, rgba(0, 0, 0, 0.1), transparent);
  }
}
.separador {
  position: absolute;
  bottom: 2.5svh;
  height: 0.2svh;
  width: 3.5svw;
  background-color: #429a82;
  opacity: 30%;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
}

.mainList {
  position: relative;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  width: 5svw;
  flex-direction: column;
  grid-row: span 6;
  overflow: hidden;
  place-items: center;
  /* padding-top: 5svh; */

}
.link {
  color: #909090;
  cursor: pointer;
  /* height: 1vh; */
  font-size: 2.8svh;
  text-decoration: none;
}
.navLink, .link:focus {
  color: #429a82;
}
.navLink, .link:active {
  color: #429a82;
}

.navLink, .link:hover {
  transition: ease-in-out 0.5s;
  color: #429a82;
  filter: brightness(95%);
  opacity: 50%;
}

.footerList {
  /* padding-top: 9.5svh; */
  position: relative;
  width: 5svw;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  place-items: center;
  grid-row: span 2;
}
.navLink {
  font-size: 3.5svh;
  color: #909090;
  text-decoration: none;
}

/* @media screen and (min-width: 426px) and (max-width: 767px) {
  .container {
    position: fixed;
    width: 25%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    filter: drop-shadow(2px 0px 3px black);
    transition: ease-in-out 0.5s;
    top: 0rem;
    left: 0rem;
  }
  .links {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 1rem;
    order: 0;
    justify-self: center;
    align-self: start;
    margin-top: 2rem;
  }
  .logo {
    order: 1;
    justify-self: center;
    align-self: end;
    margin-left: 0;
    margin-bottom: 2rem;
    height: 5rem;
  }
} */
/* @media screen and (max-width: 425px) {
  .container {
    width: 15%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    background-color: #202020;
    transition: ease-in-out 0.5s;
    justify-items: center;
  } */

/* .links{
    display: none;
  } */

/* .linksDesp {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 3.6rem;
    order: 0;
    justify-self: center;
    align-self: start;
    margin-top: 3.2rem;
    color: #cacaca;
  } */

/* .logo {
    order: 1;
    margin-left: 0;
    justify-self: center;
    align-self: end;
    margin-bottom: 2rem;
  } */

/* } */
