.container {
  top: 0;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: 3.5rem;
  background-color: #202020;
  transition: ease-in-out 0.5s;
}

.logo {
  height: 2.5rem;
  align-self: center;
  justify-self: start;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  align-self: end;
  justify-self: end;
  margin-top: 0.5rem;
}
.link {
  color: #cacaca;
  cursor: pointer;
  white-space: nowrap;
}
.link:hover {
  transition: ease-in-out 0.5s;
  transform: scale(1.1);
}
.linksDesp{
  display: none;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .container {
    position: fixed;
    width: 25%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    filter: drop-shadow(2px 0px 3px black);
    transition: ease-in-out 0.5s;
    top: 0rem;
    left: 0rem;
  }
  .links {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 1rem;
    order: 0;
    justify-self: center;
    align-self: start;
    margin-top: 2rem;
  }
  .logo {
    order: 1;
    justify-self: center;
    align-self: end;
    margin-left: 0;
    margin-bottom: 2rem;
    height: 5rem;
  }
}
@media screen and (max-width: 425px) {
  .container {
    width: 15%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    background-color: #202020;
    transition: ease-in-out 0.5s;
    justify-items: center;
  }
  
  .links{
    display: none;
  }

  .linksDesp {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    row-gap: 3.6rem;
    order: 0;
    justify-self: center;
    align-self: start;
    margin-top: 3.2rem;
    color: #cacaca;
  }

  .logo {
    order: 1;
    margin-left: 0;
    justify-self: center;
    align-self: end;
    margin-bottom: 2rem;
    /* background-color: aqua; */
  }

}
