.container {
  width: 100%;
  height: 100svh;
  background-color: #202020;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  position: relative;
}
.separador {
  position: absolute;
  width: 80%;
  height: 0.3svh;
  left: 25vh;
  top: -0.3svh;
  background-color: #429a82;
  opacity: 30%;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
}
.header {
  position: relative;
  overflow: hidden;
  height: fit-content;
  grid-row: span 1;
  .titulo {
    position: relative;
    left: 30vh;
    white-space: nowrap;
    filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
    z-index: 1;
    font-size: 8vh;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.2vh #429a82;
    text-transform: uppercase;
    -webkit-box-reflect: below -6vh linear-gradient(to bottom, transparent, transparent, rgba(0, 0, 0, 0.1), transparent);
    .barra {
      -webkit-text-stroke: 0.2vh #909090;
      color: #909090;
      margin-right: 1svw;
    }
  }
}
.containerMain {
  margin-top: 10svh;
  grid-row: span 7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  left: 50svh;
  width: 58svw;
  height: 70svh;
  overflow: hidden;
  position: relative;
  background-color: #252525;
}

.input,
.boton {
  width: 35svw;
  height: 8svh;
  filter: drop-shadow(0svh 0.1svh 1svh #90909091);
  border-radius: 0.5svh;
  border: none;
  text-indent: 1svh;
  font-size: 2.5svh;
  font-family: "Poppins";
  margin-top: 1svh;
  position: relative;
}
.input:hover,
.input:focus,
.textarea:hover,
.textarea:focus,
.boton:hover {
  filter: drop-shadow(0svh 0.5svh 1svh #909090be) brightness(85%);
  outline: none;
}
.textarea {
  margin-top: 1svh;
  border-radius: 0.5svh;
  width: 35svw;
  height: 25svh;
  resize: none;
  text-indent: 1svh;
  font-size: 2.5svh;
  font-family: "Poppins";
}
.boton {
  margin-top: 3svh;
  width: 35.5svw;
  background-color: #429a82;
  text-transform: uppercase;
  font-size: 2.5svh;
}
.form {
    margin-top: 2svh;
  display: flex;
  flex-direction: column;
  margin-left: 9svw;
  height: 75svh;
  width: 40svw;
  overflow: hidden;
}
.aside {
  position: absolute;
  right: 0;
  height: 100%;
  /* width: 10svw; */
  background-color: #272727;
  display: grid;
  place-items: center;
  .subtitulo {
    position: relative;
    font-size: 4vh;
    overflow: hidden;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    color: #909090;
    /* transform: rotate(180deg); */
  }
}
/* .asideR{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    right: 0;
    height: 100%;
    width: 15svw;
    background-color: #429a82;
    z-index: 0;
    .subtitulo{
        display: grid;
        place-items: center;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        white-space: nowrap;
    }
} */
.label {
  color: #429a82;
  position: relative;
  left: 0.5svw;
  z-index: 1;
  top: 0.5svh;
  text-transform: uppercase;
  font-size: 2svh;
}
.footer {
  background-color: #252525;
  color: #429a82;
  position: absolute;
  display: grid;
  place-items: center;
  bottom: 0;
  width: 100svw;
  font-size: 2svh;
  height: 4svh;
}
/* .links{
    grid-column: span 3;
    display: grid;
    place-items: center;
}

.navLink {
    font-size: 5svh;
    color: #101010;
    text-decoration: none;
  } */
/* .navLink, .link:focus {
    color: #429a82;
  }
  .navLink, .link:active {
    color: #429a82;
  } */

/* .navLink, .link:hover {
    transition: ease-in-out 0.5s;
    color: #429a82;
    filter: brightness(95%);
    opacity: 50%;
  } */
