.container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.separador {
  position: absolute;
  width: 80%;
  height: 0.3svh;
  left: 25vh;
  top: -0.3svh;
  background-color: #429a82;
  opacity: 30%;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
}
.header {
  position: relative;
  overflow: hidden;
  height: fit-content;
  width: 100%;
  .titulo {
    position: relative;
    left: 30vh;
    white-space: nowrap;
    filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
    z-index: 1;
    font-size: 8vh;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.2vh #429a82;
    text-transform: uppercase;
    -webkit-box-reflect: below -6vh linear-gradient(to bottom, transparent, transparent, rgba(0, 0, 0, 0.1), transparent);
    .barra {
      -webkit-text-stroke: 0.2vh #909090;
      color: #909090;
      margin-right: 1svw;
    }
  }
}
.containerMain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  width: 58svw;
  height: 70svh;
  overflow: hidden;
  position: relative;
  background-color: #252525;
}

.input,
.boton {
  width: 35svw;
  height: 8svh;
  filter: drop-shadow(0svh 0.1svh 1svh #90909091);
  border-radius: 0.5svh;
  border: none;
  text-indent: 1svh;
  font-size: 2.5svh;
  font-family: "Poppins";
  margin-top: 1svh;
  position: relative;
}
.input:hover,
.input:focus,
.textarea:hover,
.textarea:focus,
.boton:hover {
  filter: drop-shadow(0svh 0.5svh 1svh #909090be) brightness(85%);
  outline: none;
}
.textarea {
  margin-top: 1svh;
  border-radius: 0.5svh;
  width: 35svw;
  height: 25svh;
  resize: none;
  text-indent: 1svh;
  font-size: 2.5svh;
  font-family: "Poppins";
}
.boton {
  margin-top: 3svh;
  width: 35.5svw;
  background-color: #429a82;
  text-transform: uppercase;
  font-size: 2.5svh;
}
.form {
  margin-top: 2svh;
  display: flex;
  flex-direction: column;
  margin-left: 9svw;
  height: 75svh;
  width: 40svw;
  overflow: hidden;
}
.aside {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: #272727;
  display: grid;
  place-items: center;
  .subtitulo {
    position: relative;
    font-size: 4vh;
    overflow: hidden;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    color: #909090;
  }
}

.label {
  color: #429a82;
  position: relative;
  left: 0.5svw;
  z-index: 1;
  top: 0.5svh;
  text-transform: uppercase;
  font-size: 2svh;
  width: fit-content;
}
.footer {
  background-color: #252525;
  color: #429a82;
  position: relative;
  display: grid;
  place-items: center;
  bottom: 0;
  margin-top: 3svh;
  width: 100svw;
  font-size: 2svh;
  height: 4svh;
}

@media screen and (min-width: 565px) and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: fit-content;
    width: 100svw;
    overflow-x: hidden;
  }
  .separador {
    position: relative;
    left: 0svw;
  }
  .header {
    width: 100%;
    .titulo {
      left: 5svw;
      font-size: 7svh;
    }
  }
  .containerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3svh;
    top: -2svh;
    left: 0svh;
    width: 80%;
    height: fit-content;
  }
  .form {
    width: 80%;
    margin-top: 2svh;
    margin-left: 2svw;
  }
  .input,
  .textarea {
    width: 50svw;
  }
  .boton {
    width: 50.5svw;
  }
  .footer {
    position: relative;
    margin-top: 1svh;
  }
}
@media screen and (min-width: 500px) and (max-width: 564px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: fit-content;
    width: 100%;
    overflow-x: hidden;
  }
  .separador {
    position: relative;
    left: 0svw;
  }
  .header {
    width: 100%;
    .titulo {
      left: 5svw;
      font-size: 7svh;
    }
  }
  .containerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3svh;
    top: -2svh;
    left: 0svh;
    width: 80%;
    height: fit-content;
  }
  .form {
    align-self: center;
    width: 80%;
    margin-top: 2svh;
    margin-left: 0svw;
  }
  .input,
  .textarea {
    width: 60svw;
  }
  .boton {
    width: 60.5svw;
  }
  .footer {
    position: relative;
    margin-top: 1svh;
  }
  .aside{
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 499px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: fit-content;
    width: 100%;
    overflow-x: hidden;
  }
  .separador {
    position: relative;
    left: 0svw;
  }
  .header {
    width: 100%;
    .titulo {
      left: 5svw;
      font-size: 7svh;
    }
  }
  .containerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3svh;
    top: -2svh;
    left: 0svh;
    width: 80%;
    height: fit-content;
  }
  .form {
    align-self: center;
    width: 80%;
    margin-top: 2svh;
    margin-left: 0svw;
  }
  .input,
  .textarea {
    width: 60svw;
  }
  .boton {
    width: 60.5svw;
  }
  .footer {
    position: relative;
    margin-top: 1svh;
  }
  .aside{
    display: none;
  }
}
