.container {
  width: 100%;
  height: 100svh;
  background-color: #202020;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  position: relative;
}
.separador {
  position: absolute;
  width: 80%;
  height: 0.3svh;
  left: 25vh;
  top: -0.3svh;
  background-color: #429a82;
  opacity: 30%;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
}
.header {
  position: relative;
  overflow: hidden;
  height: fit-content;
  grid-row: span 1;
  .titulo {
    position: relative;
    left: 30vh;
    white-space: nowrap;
    filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
    z-index: 1;
    font-size: 8vh;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 0.2vh #429a82;
    text-transform: uppercase;
    -webkit-box-reflect: below -6vh linear-gradient(to bottom, transparent, transparent, rgba(0, 0, 0, 0.1), transparent);
    .barra {
      -webkit-text-stroke: 0.2vh #909090;
      color: #909090;
      margin-right: 1svw;
    }
  }
}
.containerMain {
  grid-row: span 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  left: 24svh;
  width: 80svw;
  overflow: hidden;
  place-items: center;
}

@media screen and (min-width: 565px) and (max-width: 768px) {
  .container {
    padding-top: 5svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .separador {
    position: relative;
    left: 0svw;
  }
  .header {
    width: 100%;
    .titulo {
      left: 5svw;
      font-size: 7svh;
    }
  }
  .containerMain {
    display: flex;
    align-items: start;
    padding-top: 3svh;
    justify-content: center;
    left: 0svh;
    width: 90%;
    height: fit-content;
  }
}
@media screen and (min-width: 500px) and (max-width: 564px) {
  .container {
    padding-top: 5svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .separador {
    position: relative;
    left: 0svw;
  }
  .header {
    width: 100%;
    .titulo {
      left: 5svw;
      font-size: 7svh;
    }
  }

  .containerMain {
    display: flex;
    left: 0svh;
    height: 45svh;
  }
}
@media screen and (min-width: 320px) and (max-width: 499px) {
  .container {
    padding-top: 5svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .separador {
    position: relative;
    left: 0svw;
  }
  .header {
    width: 100%;
    .titulo {
      left: 5svw;
      font-size: 7svh;
    }
  }

  .containerMain {
    display: flex;
    left: 0svh;
    height: fit-content;
  }
}
