.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #202020;
}
.henry {
  /* background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1702420093/Portfolio/HenryCertificado_ln4qib.jpg"); */
  width: 300%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem 1rem 1rem 1rem;
  animation: changeBackground 35s infinite;
}
.tramo1 {
    /* background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027108/Portfolio/tramo_1_t61z0u.png"); */
    width: 100vh;
    height: 70vh;
    background-size: 101%;
    background-position: center;
    border-radius: 1rem 1rem 1rem 1rem;
    animation: changeBackground2 35s infinite;
}
.tramo2 {
  background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027087/Portfolio/tramo_2_qmd4py.png");
  width: 100vh;
  height: 70vh;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem 1rem 1rem 1rem;
}
.tramo3 {
  background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027088/Portfolio/tramo_3_lwgkzs.png");
  width: 100vh;
  height: 70vh;
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem 1rem 1rem 1rem;
}
.coder {
  background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1698707283/Portfolio/CoderHouse_zmnyhd.png");
  width: 100vh;
  height: 70vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem 1rem 1rem 1rem;
}
.botonera {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.boton {
  border-radius: 100%;
  width: 2vh;
  height: 2vh;
  border: none;
  background-color: black;
  margin: 0.5rem;
}

.henryD,
.tramo1D,
.tramo2D,
.tramo3D,
.coderD {
  display: none;
  transition: ease-in-out 1.2s;
}

@keyframes changeBackground {
  0%,
  100% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1702420093/Portfolio/HenryCertificado_ln4qib.jpg");
  }
  20% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027108/Portfolio/tramo_1_t61z0u.png");
  }
  40% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027087/Portfolio/tramo_2_qmd4py.png");
  }
  60% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027088/Portfolio/tramo_3_lwgkzs.png");
  }
  80% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1698707283/Portfolio/CoderHouse_zmnyhd.png");
  }
}
@keyframes changeBackground {
  0%,
  100% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1702420093/Portfolio/HenryCertificado_ln4qib.jpg");
  }
  20% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027108/Portfolio/tramo_1_t61z0u.png");
  }
  40% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027087/Portfolio/tramo_2_qmd4py.png");
  }
  60% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027088/Portfolio/tramo_3_lwgkzs.png");
  }
  80% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1698707283/Portfolio/CoderHouse_zmnyhd.png");
  }
}
@keyframes changeBackground2 {
  0%,
  100% {
      background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027108/Portfolio/tramo_1_t61z0u.png");
    }
    20% {
        background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027087/Portfolio/tramo_2_qmd4py.png");
    }
    40% {
        background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027088/Portfolio/tramo_3_lwgkzs.png");
    }
    60% {
        background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1698707283/Portfolio/CoderHouse_zmnyhd.png");
    }
    80% {
      background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1702420093/Portfolio/HenryCertificado_ln4qib.jpg");
    }
}
@keyframes changeBackground {
  0%,
  100% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1702420093/Portfolio/HenryCertificado_ln4qib.jpg");
  }
  20% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027108/Portfolio/tramo_1_t61z0u.png");
  }
  40% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027087/Portfolio/tramo_2_qmd4py.png");
  }
  60% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703027088/Portfolio/tramo_3_lwgkzs.png");
  }
  80% {
    background-image: url("https://res.cloudinary.com/nahuesantini/image/upload/v1698707283/Portfolio/CoderHouse_zmnyhd.png");
  }
}
.titulo {
  position: relative;
  /* left: 30vh; */
  white-space: nowrap;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
  z-index: 1;
  font-size: 8vh;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.2vh #429a82;
  text-transform: uppercase;
  -webkit-box-reflect: below -6vh linear-gradient(to bottom, transparent, transparent, rgba(0, 0, 0, 0.1), transparent);
  .barra {
    -webkit-text-stroke: 0.2vh #909090;
    color: #909090;
    margin-right: 1svw;
  }
}