.container {
  width: 100%;
  background-color: #202020;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  position: relative;
  padding-bottom: 16svh;
}
.separador {
  position: absolute;
  width: 80%;
  height: 0.3vh;
  left: 25vh;
  top: -0.3svh;
  background-color: #429a82;
  opacity: 30%;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
}
.header {
  position: relative;
}
.titulo {
  position: relative;
  left: 30vh;
  white-space: nowrap;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
  z-index: 1;
  font-size: 8vh;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.2vh #429a82;
  text-transform: uppercase;
  -webkit-box-reflect: below -6vh linear-gradient(to bottom, transparent, transparent, rgba(0, 0, 0, 0.1), transparent);
  .barra {
    -webkit-text-stroke: 0.2vh #909090;
    color: #909090;
    margin-right: 1svw;
  }
}

.main {
  grid-row: span 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 100%;
  color: #909090;
  height: fit-content;
}

.containerMain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  left: 5svw;
  width: 80%;
  height: 50svh;
  margin-bottom: 15svh;
  top: -10svh;
}
.galeria {
  position: relative;
  width: 100%;
  height: 100%;
}
.youtube {
  position: absolute;
  top: 0vh;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.aside {
  position: relative;
  top: 2vh;
  height: 55vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #202020;
  border: solid 0.4svh #429a8396;
  border-left: none;
  z-index: 0;
  filter: drop-shadow(0.5vh 1vh 1vh #101010);
  animation: opernDescription linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 50%;
  overflow: hidden;

  .parrafo {
    margin: 3svh;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 2svh;
    line-height: 4vh;
    width: 85%;
    height: 100%;
    color: whitesmoke;
    grid-column: span 6;
    overflow: auto;
  }
  .subtitulo {
    position: relative;
    right: 4svh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 4vh;
    overflow: hidden;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    background-color: #252525;
    color: #429a82;
  }
}

.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 1svh;
  right: 1.5svw;
  font-size: 3svh;
  filter: drop-shadow(1px 0px 1px #101010);
}
.close {
  position: absolute;
  right: 0.1svw;
  top: 2svh;
  background-color: transparent;
  border: none;
  color: #429a82;
  font-size: 4vh;
  cursor: pointer;
  z-index: 3;
}
.close:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.2s;
  filter: brightness(90%);
}

.imgs {
  height: 60svh;
  background-size: cover;
  background-position: center;
  grid-column: span 3;
  cursor: pointer;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0.5vh 0.1vh 1vh #101010e0)
    drop-shadow(-1vh 0vh 0.5vh #101010e0);
  overflow: hidden;
  transition: transform ease-in-out 0.8s;
}

.imgs:hover {
  transform: scale(1.005);
  transition: ease-in-out 0.5s;
}

.github {
  text-decoration: none;
  color: #909090;
}

@keyframes opernDescription {
  from {
    translate: -9svw 0;
  }
  to {
    translate: 0 0;
  }
}
@keyframes opernDescriptionResp {
  from {
    translate: 0 -15svh;
  }
  to {
    translate: 0 0svh;
  }
}
@media screen and (min-width: 565px) and (max-width: 768px) {
  .container {
    /* top: 20svh; */
    padding-bottom: 0svh;
  }
  .separador {
    left: 10svw;
  }
  .titulo {
    top: 5svh;
    left: 4svw;
    font-size: 7svh;
  }
  .containerMain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    width: 90%;
    height: 80svh;
    left: 0;
    top: -15svh;
    .imgs {
      grid-column: span 4;
      grid-row: span 1;
      height: 60svh;
    }
    .aside {
      display: flex;
      position: relative;
      top: -10svh;
      height: 30svh;
      grid-column: span 4;
      grid-row: span 1;
      animation: opernDescriptionResp linear both;
      animation-timeline: view();
      animation-range: entry 20% cover 50%;
      border: solid 0.4svh #429a8396;
      border-top: none;
      .subtitulo {
        position: absolute;
        left: 0;
        top: 28svh;
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vh;
        overflow: hidden;
        writing-mode: horizontal-tb;
        white-space: nowrap;
        color: #429a82;
      }
      .footer {
        display: flex;
        flex-direction: row;
        justify-content: end;
        font-size: 3.5svh;
        right: 1svw;
        bottom: 1svh;
      }
    }
    .parrafo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      /* background-color: #429a82; */
    }
  }
  .galeria {
    height: 90%;
  }
  .github {
    margin-right: 1svh;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 500px) and (max-width: 564px) {
  .container {
    /* top: 20svh; */
    padding-bottom: 0svh;
  }
  .separador {
    left: 10svw;
  }
  .titulo {
    top: 5svh;
    left: 4svw;
    font-size: 7svh;
  }
  .containerMain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    width: 90%;
    height: 60svh;
    left: 0;
    top: -10svh;
    .imgs {
      grid-column: span 4;
      grid-row: span 1;
      /* height: 50%; */
    }
    .aside {
      display: flex;
      top: -30svh;
      height: 40svh;
      grid-column: span 4;
      grid-row: span 1;
      animation: opernDescriptionResp linear both;
      animation-timeline: view();
      animation-range: entry 20% cover 50%;
      border: solid 0.4svh #429a8396;
      border-top: none;
    }
    .subtitulo {
      position: absolute;
      left: 0;
      top: 28svh;
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4vh;
      overflow: hidden;
      writing-mode: horizontal-tb;
      white-space: nowrap;
      color: #429a82;
    }
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: end;
      font-size: 3.5svh;
      right: 1svw;
      bottom: 1svh;
    }
    .parrafo {
      margin-top: -1svh;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2.5svh;
    right: 1svw;
    bottom: 0svh;
  }
  .galeria {
    height: 60%;
  }
  .github {
    margin-right: 1svh;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 499px) {
  .container {
    padding: 0;
    /* overflow: hidden; */
  }
  .separador {
    left: 10svw;
  }
  .titulo {
    top: 5svh;
    left: 4svw;
    font-size: 6.5svh;
  }
  .containerMain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    width: 90%;
    height: 60svh;
    left: 0;
    top: -10svh;
    .imgs {
      grid-column: span 4;
      grid-row: span 1;
      /* height: 50%; */
    }
    .aside {
      display: flex;
      top: -30svh;
      height: 40svh;
      grid-column: span 4;
      grid-row: span 1;
      animation: opernDescriptionResp linear both;
      animation-timeline: view();
      animation-range: entry 20% cover 50%;
      border: solid 0.4svh #429a8396;
      border-top: none;
    }
    .subtitulo {
      position: absolute;
      left: 0;
      top: 28svh;
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4vh;
      overflow: hidden;
      writing-mode: horizontal-tb;
      white-space: nowrap;
      color: #429a82;
    }
    .footer {
      display: flex;
      flex-direction: row;
      justify-content: end;
      font-size: 3.5svh;
      right: 1svw;
      bottom: 1svh;
    }

    .parrafo {
      margin-top: -2svh;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
  .galeria {
    height: 50%;
  }
  .github {
    margin-right: 1svh;
    margin-bottom: 0;
  }
}
