.container {
  width: 100%;
  /* background: linear-gradient(
    -145deg,
    #20202030,
    #20202050,
    #122923,
    #122923,
    #122923,
    #122923,
    #122923
  ); */
  /* background: linear-gradient(
    145deg,
    #20202030,
    #20202050,
    #202020,
    #202020,
    #202020,
    #202020,
    #202020,
    #202020,
    #202020,
    #202020,
    #202020,
    #202020,
    #202020
  ); */
  background-color: #202020;
  /* background-color: #202b28; */
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  position: relative;
  padding-bottom: 16svh;
}
.separador {
  position: absolute;
  width: 80%;
  height: 0.3vh;
  left: 25vh;
  top: 0svh;
  background-color: #909090;
  border-radius: 0.2vh;
  opacity: 10%;
}
.header {
  position: relative;
}
.titulo {
  position: relative;
  left: 30vh;
  white-space: nowrap;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
  z-index: 1;
  font-size: 8vh;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.2vh #429a82;
  text-transform: uppercase;
  -webkit-box-reflect: below -6vh linear-gradient(to bottom, transparent, transparent, rgba(0, 0, 0, 0.1), transparent);
  .barra {
    -webkit-text-stroke: 0.2vh #909090;
    color: #909090;
    margin-right: 1svw;
  }
}

.main {
  grid-row: span 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 100%;
  color: #909090;
}

.containerMain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  left: 24svh;
  width: 80svw;
  height: 50svh;
  margin-bottom: 15svh;
  top: -10svh;
}
.containerMain:hover {
  .aside {
    transform: translateX(-9svw);
    transition: ease-in-out 1.8s;
  }
  .imgs {
    transform: translateX(-9svw);
    transition: ease-in-out 1.2s;
  }
}
.galeria {
  position: relative;
  width: 100%;
  height: 100%;
}
.youtube {
  position: absolute;
  top: 0vh;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.aside {
  position: relative;
  top: 2vh;
  height: 55vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #202020;
  border: solid 0.3svh #429a82;
  border-left: none;
  border-radius: 0vh 1vh 1vh 0vh;
  z-index: 0;
  filter: drop-shadow(0.5vh 1vh 1vh #101010);
  transform: translateX(-33vh);
  transition: transform ease-in-out 0.8s;
  .parrafo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2svh;
    line-height: 4vh;
    top: -2svh;
    width: 85%;
    height: 100%;
    padding-left: 3vh;
    color: whitesmoke;
    grid-column: span 6;
    overflow: hidden;
  }
  .subtitulo {
    position: relative;
    right: 4svh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    color: whitesmoke;
    font-size: 4vh;
    overflow: hidden;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
  }
}

.footer {
  position: absolute;
  bottom: 2svh;
  right: 1.5svw;
  filter: drop-shadow(1px 0px 1px #101010);
}
.close {
  position: absolute;
  right: 0.1svw;
  top: 2svh;
  background-color: transparent;
  border: none;
  color: #429a82;
  font-size: 4vh;
  cursor: pointer;
  z-index: 3;
}
.close:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.2s;
  filter: brightness(90%);
}

.imgs {
  height: 60svh;
  background-size: cover;
  background-position: center;
  grid-column: span 3;
  cursor: pointer;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0.5vh 0.1vh 1vh #101010e0);
  border-radius: 1svh;
  overflow: hidden;
  transition: transform ease-in-out 0.8s;
}

.imgs:hover {
  transform: scale(1.005);
  transition: ease-in-out 0.5s;
}

/* ////////////////////////////////// */
/* .asideRigth {
  position: relative;
  top: 2vh;
  height: 55vh;
  order: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #202020;
  border-radius: 1vh 0vh 0vh 1vh;
  z-index: 0;
  filter: drop-shadow(-0.5vh 1vh 1vh #101010);
  transform: translateX(0svh);
  transition: transform ease-in-out 0.8s;
  .parrafo {
    order: 2;
    text-align: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2svh;
    line-height: 4vh;
    top: -2svh;
    width: 85%;
    height: 100%;
    padding-left: 3vh;
    color: whitesmoke;
    grid-column: span 6;
    overflow: hidden;
  }
  .subtitulo {
    order: 1;
    position: relative;
    right: 2svh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    color: whitesmoke;
    font-size: 4vh;
    overflow: hidden;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    white-space: nowrap;
    rotate: 180deg;
  }
  .separadorTextoR {
    position: absolute;
    width: 0.15svw;
    height: 45svh;
    left: 4svw;
    top: 5svh;
    border-right: solid 1px white;
    border-left: solid 1px white;
    opacity: 15%;
  }
}
.imgsRigth {
  background-size: cover;
  background-position: center;
  grid-column: span 2;
  cursor: pointer;
  position: relative;
  z-index: 1;
  order: 2;
  filter: drop-shadow(-0.5vh 0.1vh 1vh #101010e0);
  border-radius: 1svh;
  overflow: hidden;
  transform: translateX(-21svw);
} */
