.container {
  width: 100%;
  background: linear-gradient(
    145deg,
    #20202030,
    #20202050,
    #202020,
    #202020,
    #202020,
    #202020,
    #202020,
    #202020
  );
  background-color: #122923;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  position: relative;
}
.separador {
  position: absolute;
  width: 80%;
  height: 0.3vh;
  left: 25vh;
  top: -0.1vh;
  background-color: #909090;
  border-radius: 0.2vh;
}
.header {
  position: relative;
}
.titulo {
  position: relative;
  left: 30vh;
  white-space: nowrap;
  filter: drop-shadow(0.5vh 0.5vh 0.5vh black);
  z-index: 1;
  font-size: 8vh;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.2vh #909090;
}

.main {
  grid-row: span 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  width: 100%;
  /* overflow: hidden; */
  color: #909090;
}

.containerMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  left: 10vh;
  width: 80%;
  height: 60vh;
  margin-bottom: 1.5vh;
}
.galeria {
  position: relative;
  width: 100%;
  height: 100%;
}
.youtube {
  position: absolute;
  top: 0vh;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.aside {
  position: relative;
  top: 2vh;
  height: 55vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #122923;
  border-radius: 0vh 1vh 1vh 0vh;
  z-index: 0;
  filter: drop-shadow(0.5vh 1vh 1vh #101010);
  transform: translateX(-45vh);
  transition: transform ease-in-out 0.8s;
  .parrafo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2svh;
    line-height: 4vh;
    top: -2svh;
    width: 85%;
    height: 100%;
    padding-left: 3vh;
    color: whitesmoke;
    grid-column: span 6;
    overflow: hidden;
  }
  .subtitulo {
    position: relative;
    right: 4svh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    color: whitesmoke;
    font-size: 4vh;
    overflow: hidden;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
  }
  .separadorTexto {
    margin-top: -2vh;
    width: 80%;
    height: 0.3vh;
    background-color: #909090;
    margin-left: 5vh;
  }
}
.aside:hover {
  transform: translateX(0vh);
  transition: transform ease-in-out 0.8s;
}
.footer {
  position: absolute;
  bottom: 2vh;
  right: 10vh;
  filter: drop-shadow(1px 0px 1px #101010);
}
.close {
  position: absolute;
  left: 106vh;
  top: 3vh;
  background-color: transparent;
  border: none;
  color: #995c5c;
  font-size: 3vh;
  cursor: pointer;
  z-index: 3;
}
.close:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.2s;
  filter: brightness(90%);
}

.imgs{
  background-size: cover;
  background-position: center;
  grid-column: span 2;
  cursor: pointer;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0.5vh 0.1vh 1vh #101010e0);
  border-radius: 1svh;
  overflow: hidden;
}
/* .imgAboutPf {
  background: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703635020/Proyectos/constr_codecraft_d7dk71.jpg");
  background-size: cover;
  background-position: center;
  grid-column: span 2;
  cursor: pointer;
  position: relative;
}
.imgHomePf {
  background: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703635020/Proyectos/hamb_codecraft_hurj6h.jpg");
  background-size: cover;
  background-position: center;
  grid-column: span 2;
  cursor: pointer;
  position: relative;
} */
/* .imgAurisPf {
  background: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703635020/Proyectos/auris_codecraft_vduc8h.jpg");
  background-size: cover;
  background-position: center;
  grid-column: span 2;
  cursor: pointer;
  position: relative;
} */
/* .imgrym {
  background: url("https://res.cloudinary.com/nahuesantini/image/upload/v1705449865/Proyectos/RM_login_r9dxj2.jpg");
  background-size: cover;
  background-position: center;
  grid-column: span 2;
  cursor: pointer;
  position: relative;
} */

.imgs:hover {
  transform: scale(1.005);
  transition: ease-in-out 0.5s;
}
/* .imgCodecraft { */
  /* background: url("https://res.cloudinary.com/nahuesantini/image/upload/v1703102356/Proyectos/WhatsApp_Image_2023-11-06_at_20.04.00_k0djrn.jpg"); */
  /* background: url("https://res.cloudinary.com/nahuesantini/image/upload/v1705450336/Proyectos/loginCodecraft_q0bj6t.jpg"); */
  /* background-size: cover; */
  /* background-position: center; */
  /* grid-column: span 2; */
  /* cursor: pointer; */
/* } */
/* .imgPadi {
  background: url("https://res.cloudinary.com/nahuesantini/image/upload/v1705511997/Proyectos/padi_login2_dtxihg.jpg");
  background-size: cover;
  background-position: 100%;
  grid-column: span 2;
  cursor: pointer; */
/* } */

