.container{
    background-color: black;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: start;
}
/* .logo{
    filter: drop-shadow(0px 1px 1px #909090);
} */
.nombre{
    color: white;
    font-family: 'Poppins', sans-serif;
    
}